@page "/"



@inherits Index_Logic

@addTagHelper *, BlazorScrollbarComponent
@using BlazorScrollbarComponent;

<h3 style="color:darkred">This is blazor Scrollbar prototype</h3>


<h2>You can click on red buttons, drag thumb or scroll inside scrollbar</h2>


<p>@P1</p>[]
<br />


<CompBlazorScrollbar ref="CompBlazorScrollbar1" bsbSettings="bsbSettings1"></CompBlazorScrollbar>


<br />

<p>@P2</p>
<br />
<CompBlazorScrollbar ref="CompBlazorScrollbar2" bsbSettings="bsbSettings2"></CompBlazorScrollbar>